#projects {
  padding: 1px 0;
}

.projects-mini-title {
  text-align: center;
  font-size: 1.2em;
  margin-top: 35px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 500px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card {
  animation: fadeIn 0.5s ease-in-out;
}

.project-card img {
  width: 100%;
  height: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.project-name {
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

.project-description {
  padding: 0 10px 0px;
  font-size: 16px;
  color: #555;
  margin-top: 20px;
  text-align: center;
}

.project-card button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #db0000;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px auto;
}

.project-card button a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.project-card button:hover {
  background-color: #aa0000;
}

.project-card button a {
  color: #fff;
  text-decoration: none;
}

/* responsive - 425px */

@media (max-width: 425px) {
  .projects-wrapper {
    flex-direction: column;
  }

  .project-card {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 425px) {
  .project-card {
    width: 100%;
  }

  .project-card img {
    width: 100%;
    height: auto;
  }

  .project-card button {
    width: 50%;
  }
}
