#services {
  padding: 1px 0;
  background-color: white;
}

/* .section-title h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
} */

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 20px 30px 20px;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
  text-align: center;
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff5d0;
}

.service-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1em;
  color: #666;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-card {
  animation: fadeInUp 0.5s ease-in-out;
}
