#skills {
  padding: 35px 0;
  background-color: white;
}

/* .section-title {
  text-align: center;
  margin-bottom: 30px;
} */

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #333;
}

.skills-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

p.skills-title-content-creator {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 40px;
}

p.skills-title-programming {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 40px;
}
